@{
    ViewData["Title"] = "PDF Reader OpenAI";
}
<div class="section">
    <div class="button-container">
        <button>Upload</button>
    </div>
</div>
<div class="section">
    <div class="chat-box">
        <div id="chat-conteiner">
            <div><strong>ChatGPT:</strong> <p id="gpt-text">Hello! How can I assist you today?</p></div>
            <div id="chat-answer">

            </div>
            <div id="input-button">
                <input id="input-chat" onsubmit="EnviarPergunta()"/>
                <button id="button-enviar" onclick="EnviarPergunta()">Enviar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function EnviarPergunta() {
            let text = $('#input-chat').val();
            let html = "";

            if (StrIsNull(text)){
                html += "<div><strong>ChatGPT:</strong> <p>Insert your question</p></div>";
                $('#chat-answer').html(html);
                console.log('if text == null');
            }
            else {
                $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: '@Url.Action("CompleteSentence", "OpenAI")',
                    data: { text: text },
                    success: function (result) {
                        if (!StrIsNull(text)) {
                            $("#input-chat").val("");
                            html += "<div><strong>You:</strong>" + text + "</div>";
                            html += "<div><strong>ChatGPT:</strong> <p>" + result + "</p></div>";
                            $('#chat-answer').html(html);
                        }
                        else {
                            // erro
                            console.log('else do ajax');
                        }
                    },
                    error: function (erro) {
                        html += "<div><strong>Error in connection with OpenAI</strong></div>";
                        $('#chat-answer').html(html);
                        console.log(`${erro.statusText} ${erro.responseText}`);
                    }
                });
            }
        }

        function StrIsNull(String) {
            if (String == null || String == "" || String == undefined || String == "undefined")
                return true;
            else
                return false;
        }
    </script>
}