<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OpenAI Reader</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AplicativoWebOpenAI.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Great+Vibes&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0px;
            padding: 0px;
        }

        header {
            font-family: 'Montserrat', sans-serif;
            background-color: white;
            text-align: center;
            padding: 6px 0;
        }

        .container {
            margin: 0px;
            padding: 0px;
        }

        main {
            display: flex;
            padding: 1em;
            gap: 1rem;
            width: 100vw;
            background-color: white;
        }

        .section {
            flex: 1;
            padding: 1em;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 5px;
            height: 87vh;
        }

        .file-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }

        .chat-box {
            display: flex;
            padding: 1em;
            height: 100%;
            width: 100%;
            align-items: end;
        }

            .chat-box div {
                margin-bottom: 1em;
                width: 100%;
            }

        .great-vibes-regular {
            font-family: "Great Vibes", cursive;
            font-weight: 400;
            font-style: normal;
        }

        .dm-serif-text-regular {
            font-family: "DM Serif Text", serif;
            font-weight: 400;
            font-style: normal;
        }

        .dm-serif-text-regular-italic {
            font-family: "DM Serif Text", serif;
            font-weight: 400;
            font-style: italic;
        }

        .background-topo{
            background-image: url("/assets/wallpaperflare.com_wallpaper.jpg");
        }
    </style>
</head>
<body>
    <header class="background-topo">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow" style="padding: 0px;">
            <div class="container-fluid" style="justify-content:space-around">
                <a class="navbar-brand dm-serif-text-regular" asp-controller="Home" asp-action="Index"><h1 style=" color: white">OpenAI Reader</h1></a>
                <div class="">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index" style=" color: white">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="About" asp-action="Index" style=" color: white">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main class="">
            @RenderBody()
        </main>
    </div>

@*     <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - AplicativoWebOpenAI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
